{% extends "YogaApp/base.html" %}
{% load static %}



{% block content %}
<div id="about1">
    <h1>~The Lotus Goddess~</h1>
</div>
<br><br>
<div id="about2">
    <h2>What is The Pond</h2>
    <br>
    <p>The Pond is an open and growing community for yogis to begin and continue their yoga journey.<br>
        From beginner to advanced, we offer just the right sessions, personalized to your needs and wants. <br>
        Here at the pond, we encourage physical, mental, and spiritual health. You can schedule a <br>
    yoga session, find upcoming events in the city, or just enjoy the content. Feel free to wander around The Pond. <br>
        Namaste</p>
    <br>
    <hr style="background-color: black">
    <br>
    <h2>About Me</h2>
    <br>
    <span>
        <img src="{% static 'profile.jpg' %}">
        <br><br>
        <p>Peace, I am Lotus. I have been on my spiritual journey for three years. I started doing yoga <br>
        when I was 17 years old due to my struggle with anxiety and depression. Yoga instantly led me to <br>
        a more peaceful path in life. About 2 years after I began my journey, I gained a greater purpose <br>
        to share the knowledge and peace with those around me. I believe spiritual and mental health should<br>
         be a priority for everyone, especially in my community. So, I began spreading my peaceful and loving<br>
         energy through my yoga classes. I am humble to say that my journey has come a long way, and I hope <br>
        that you will join me in the continued growth of The Pond.</p>
    </span>
</div>
<br>
<br>
{% endblock %}