{% load static %}

    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Courgette" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'YogaApp/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/YogaApp.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<style>
    #home1{
        width: 100%;
        height: 650px;
        /*opacity: 0.5;*/
        background: url("{% static 'backbend.jpg' %}") no-repeat center center fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    #about1{
         width: 100%;
         height: 55%;
         /*opacity: 0.5;*/
         background: url("{% static 'downdog.jpg' %}") no-repeat;
        background-size: 100%;
     }
    #contact1{
        width: 100%;
        height: 100%;
        background: url("{% static 'lotus.jpg' %}") no-repeat center center fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    #request1{
        width: 100%;
        height: auto;
        background: url("{% static 'request.jpg' %}") no-repeat center center fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    #schedule1{
        width: 100%;
        height: auto;
        background: url("{% static 'schedule.jpg' %}") no-repeat center center fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
</style>
<!--Nav Bar Here-->
<div class="pos-f-t">
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h4 class="text-white">Lotus Goddess Yoga</h4>
            <a href="{% url 'home' %}"><p style="color: white">Home</p></a>
            <a href="{% url 'about' %}"><p style="color: white">About</p></a>
            <a href="{% url 'schedule' %}"><p style="color: white">Schedule</p></a>
            <a href="{% url 'community' %}"><p style="color: white">Community</p></a>
            <a href="{% url 'contact' %}"><p style="color: white">Contact</p></a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


    </nav>
</div>

<!--Block Tag Content Here-->
{% block content %}
<div id="home1">
    <br><br><br>
    <h1 style="font-size: 55px">Welcome To The Pond</h1>
    <br><br>
    <div id="home1Content">
        <br><br>
        <h1 class="head" style="font-size: 40px">Breathe . Yoga . Meditate</h1>
        <hr/>
        <p>"The very heart of yoga practice is 'abyhasa' -steady effort in the direction you want to go"</p>
        <p>-Sally Kempton</p>
        <br><br>
    </div>
</div>
{% endblock %}

<script src="{% static 'YogaApp/jquery-3.3.1.min.js' %}"></script>
<script src="{% static  'YogaApp/bootstrap.js' %}"></script>